In [38]:
# Полный датасет: https://docs.google.com/spreadsheets/d/1n714QwSjPuuTS0QqmB9xIlz4c-xh0sVJ/edit?usp=sharing&ouid=100017848401515487944&rtpof=true&sd=true
# Наши диаграммы: https://docs.google.com/spreadsheets/d/168kkH8Td6Z9BYSGdk4ezimjvz4LvdG-yOS5ltN8QFU0/edit?usp=sharing

In [37]:
import pandas as pd
gulag = pd.read_csv("gulag.csv")
gulag

,number,author,text,title_in_memoir,year_of_text,citation_or_paraphrase,kind_of_literature,language,situation,performer,...,memoirist,edition,place_of_edition,year_of_edition_min,year_of_edition_max,date_of_situation_min,date_of_situation_max,place_camp,occupation_of_memoirist,link_to_publication
0,2320,Аверченко А.Т.,NaN,Рассказы,NaN,Цитируют,проза,русский,ставили в театре,заключенный,...,Стефановский П.П.,Развороты судьбы,Москва,2003.0,2003.0,1950,1950,"Экибастуз, Степлаг",Актер,asfcd/auth/?t=page&num=9742
1,2407,Агапкин В.,Прощание славянки,NaN,1912.0,Цитируют,песня,русский,пение в кругу равных,заключенный,...,Ронкин В.Е.,На смену декабрям приходят январи…: Воспоминан...,Москва,2003.0,2003.0,1966,1966,"Псков, пересыльная тюрьма",Инженер-технолог,asfcd/auth/?t=page&num=2833
2,888,Агапкин В.,Прощание славянки,NaN,1912.0,Пересказывают,песня,русский,пение в кругу равных и блатных,"заключенный, блатной",...,Бородин Л.И.,Без выбора: Автобиографическое повествование,Москва,2003.0,2003.0,1968,1968,"Мордовия, Дубравлаг",Писатель,asfcd/auth/?t=book&num=1777
3,402,Агатов В.Г.,Темная ночь,Народная Песня,1943.0,Цитируют,песня,русский,пересказ для блатных,заключенный,...,Мазнев М.Ф.,Отрывки из дневника Михаила Фёдоровича Махнева...,Новосибирск,NaN,NaN,1937,1948,Колыма,Бухгалтер,asfcd/auth/?t=page&num=6087
4,1165,Агатов В.Г.,Темная ночь,Народная Песня,1943.0,Цитируют,песня,русский,пение в кругу равных,заключенный,...,Зубчанинов В.В.,Увиденное и пережитое,Москва,1995.0,1995.0,1941,1942,"Воркутлаг, этап",Инженер,asfcd/auth/?t=book&num=470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2504,1334,Ядов Я.,Мурка,NaN,1921.0,Цитируют,песня,русский,пение блатными,блатной,...,Фельдгун Г.Г.,Записки лагерного музыканта,Новосибирск,1998.0,1998.0,1943,1943,"Оренбургская обл., Орская ИТК № 3",NaN,asfcd/auth/?t=page&num=2897
2505,485,Языков М.А.,Ночь светла,NaN,1885.0,Цитируют,песня,русский,пение в кругу равных,заключенный,...,Котов П.Х.,Перед Адаком и в Адаке,Инта,1991.0,1991.0,1943,1943,"Коми, Адак",NaN,asfcd/auth/?t=book&num=2204
2506,1340,Языков М.А.,Ночь светла,NaN,1885.0,Цитируют,песня,русский,ставили в театре,заключенный,...,Фельдгун Г.Г.,Записки лагерного музыканта,Новосибирск,1998.0,1998.0,1943,1943,"Оренбургская обл., Орская ИТК № 3",Музыкант,asfcd/auth/?t=page&num=2897
2507,1176,Яновский Ю. И.,Всадники,NaN,1935.0,Цитируют,проза,русский,чтение книги про себя,заключенный,...,Драй-Хмара М.А.,Письма с Колымы,Санкт-Петербург,1998.0,1998.0,1937,1937,"Литовская ССР, Неринга",Филолог,asfcd/auth/?t=book&num=659
2508,1183,Ясенский Б.,Человек меняет кожу,NaN,1932.0,Цитируют,проза,русский,чтение книги про себя,заключенный,...,Драй-Хмара М.А.,Письма с Колымы,Санкт-Петербург,1998.0,1998.0,1937,1937,"Литовская ССР, Неринга",Филолог,asfcd/auth/?t=book&num=659

In [18]:
# узнаем топ популярных авторов, чтобы после по этим данным сделать круговую диаграмму в Экселе
value = gulag["author"].value_counts().to_frame() # сразу превращаем в dataframe
value.head(10)

                  author
Фольклор             334
Пушкин А.С.          170
Сакральный текст      64
Лермонтов М.Ю.        56
Толстой Л.Н.          54
Блок А.А.             50
Есенин С.А.           49
Маяковский В.В.       48
Гумилев Н.С.          43
Некрасов Н.А.         42

In [19]:
# узнаем те круги ("поля литературы"), в которых распространялись тексты, чтобы создать круговую диаграмму в Экселе,
# а затем узнать статистику по категориям
gulag["situation"].value_counts().to_frame()

                                                    situation
рассказ в кругу равных                                   1143
чтение книги про себя                                     397
ставили в театре                                          396
пение в кругу равных                                      314
пересказ для блатных                                      118
пение блатными                                             31
пение в кругу равных и блатных                             29
рассказ сотрудникам внутренних органов                     22
рассказ в кругу равных и блатным                           22
чтение книги вслух                                         12
пение блатным                                              10
пение сотрудником внутренних органов                        8
пение в кругу равных и сотрудникам внутренних о...          3
рассказ сотрудника внутренних органов заключенному          3
рассказ врачам                                              1

In [17]:
# пройдемся по популярным группам (100+ вхождений), чтобы понять принципы отбора текстов
gulag1 = gulag[gulag["situation"] == "рассказ в кругу равных"]
value1 = gulag1["author"].value_counts().to_frame()
value1.head(10) # смотрим топ-10, собираем данные по всем популярным категориям и сравниваем с общей статистикой

                  author
Фольклор             130
Пушкин А.С.          103
Блок А.А.             45
Сакральный текст      44
Гумилев Н.С.          41
Маяковский В.В.       39
Есенин С.А.           34
Лермонтов М.Ю.        33
Некрасов Н.А.         29
Толстой Л.Н.          26

In [22]:
gulag2 = gulag[gulag["situation"] == "чтение книги про себя"]
value2 = gulag2["author"].value_counts().to_frame()
value2.head(10)

                  author
Толстой Л.Н.          21
Пушкин А.С.           15
Достоевский Ф.М.      14
Сакральный текст       8
Лесков Н.С.            8
Диккенс Ч.             7
Пруст М.               6
Роллан Р.              6
Шевченко Т.Г.          6
Тургенев И.С.          6

In [24]:
gulag3 = gulag[gulag["situation"] == "ставили в театре"]
value3 = gulag3["author"].value_counts().to_frame()
value3.head(10)

                  author
Островский А.Н.       27
Фольклор              26
Пушкин А.С.           24
Чехов А.П.            22
Гоголь Н.В.           12
Горький М.            12
Лермонтов М.Ю.        10
Корнейчук А.Е.        10
Кальман И.            10
Александров Б.А.       6

In [25]:
gulag4 = gulag[gulag["situation"] == "пение в кругу равных"]
value4 = gulag4["author"].value_counts().to_frame()
value4.head(10)

                    author
Фольклор               122
Лебедев-Кумач В.И.      14
Коц А.Я.                10
Вертинский А.Н.          7
Сакральный текст         7
Кржижановский Г.М.       6
Чайковский П.И.          4
Гольц-Миллер И.И.        4
Давыдов Д.П.             4
Исаковский М.В.          4

In [26]:
gulag5 = gulag[gulag["situation"] == "пересказ для блатных"]
value5 = gulag5["author"].value_counts().to_frame()
value5.head(10)

                author
Пушкин А.С.         16
Дюма А.             12
Есенин С.А.          7
Фольклор             5
Толстой Л.Н.         4
Лермонтов М.Ю.       4
Гюго В.              3
Твен М.              3
Чехов А.П.           3
Шекспир У.           3

In [ ]:
# Сравнение диаграмм оставим на откуп Экселю.

In [ ]:
# Далее проследим, какие тексты читались в разных местах заключения (посколько их много, мы возьмем лишь топ-5).
# Сам принцип работы повторяет метод, примененный к анализу авторов.

In [36]:
camp = gulag["place_camp"].value_counts().to_frame()
camp.head(5)

                                place_camp
Москва, Бутырская тюрьма               160
Москва, Лубянская тюрьма               131
Соловецкий лагерь                       69
Ленинград, тюрьма на Шпалерной          51
Москва, Лефортовская тюрьма             49

In [29]:
gulag1 = gulag[gulag["place_camp"] == "Москва, Бутырская тюрьма"]
camp1 = gulag1["author"].value_counts().to_frame()
camp1.head(10)

                  author
Фольклор              24
Пушкин А.С.           14
Толстой Л.Н.          10
Маяковский В.В.        9
Достоевский Ф.М.       7
Блок А.А.              3
Есенин С.А.            3
Горький М.             3
Некрасов Н.А.          3
Тургенев И.С.          2

In [35]:
gulag2 = gulag[gulag["place_camp"] == "Москва, Лубянская тюрьма"]
camp2 = gulag2["author"].value_counts().to_frame()
camp2.head(10)

                  author
Пушкин А.С.           13
Сакральный текст       7
Толстой Л.Н.           5
Фольклор               4
Толстой А.К.           4
Блок А.А.              4
Пастернак Б.Л.         3
Бомарше П.             3
Гейне Г.               3
Данте Алигьери         2

In [33]:
gulag3 = gulag[gulag["place_camp"] == "Соловецкий лагерь"]
camp3 = gulag3["author"].value_counts().to_frame()
camp3.head(10)

                 author
Пушкин А.С.           5
Фольклор              5
Гордин Я.М.           4
Гете И.В.             3
Эрдман Н.             2
Лабиш Э.              2
Шиллер Ф.             2
Островский А.Н.       2
Лермонтов М.Ю.        2
Горький М.            2

In [32]:
gulag4 = gulag[gulag["place_camp"] == "Ленинград, тюрьма на Шпалерной"]
camp4 = gulag4["author"].value_counts().to_frame()
camp4.head(10)

                  author
Толстой Л.Н.           6
Пушкин А.С.            3
Дюма А.                3
Достоевский Ф.М.       3
Фольклор               2
Тургенев И.С.          2
Сакральный текст       2
Спенсер Г.             1
Стендаль               1
Теккерей У.М.          1

In [31]:
gulag5 = gulag[gulag["place_camp"] == "Москва, Лефортовская тюрьма"]
camp5 = gulag5["author"].value_counts().to_frame()
camp5.head(10)

                author
Пушкин А.С.          4
Гоголь Н.В.          4
Толстой Л.Н.         3
Диккенс Ч.           3
Пруст М.             2
Сталин И.В.          2
Ким Ю.Ч.             2
Ленин В.И.           2
Фадеев А.А.          1
Успенский Г.И.       1

In [ ]:
# Затем скармливаем все эти данные Экселю, строим диаграммы, делаем выводы.